<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript"
	th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript"
	th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Property</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Post Your Room</h3>
			</div>
			<div class="panel-body">
				<form th:object="${property}" th:action="@{/add}"
					method="post">
						<input type="hidden" th:field="*{id}" /> 
					<div class="form-group row">
						<label for="price" class="col-sm-2 col-form-label">Property
							Type</label>
						<div class="col-sm-10">
							<select th:field="*{propertyType}">
								<option
									th:each="type: ${T(com.cs544.roommate.domain.PropertyType).values()}"
									th:text="${type}" th:value="${type}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="type" class="col-sm-2 col-form-label">Property
							Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{title}"
								placeholder="..."> </input>
						</div>
					</div>

					<div class="form-group row">
						<label for="type" class="col-sm-2 col-form-label">Available
							Rooms</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								th:field="*{availableRooms}"
								placeholder="Summarize your stay or highlight an interesting detail">
							</input>
						</div>
					</div>

					<div class="form-group row">
						<label for="type" class="col-sm-2 col-form-label">Property
							Description</label>
						<div class="col-sm-10">
							<textarea rows="5" class="form-control" th:field="*{description}"
								placeholder="By sharing your experiences, you're helping other makes better choices and plan their dream home. Thank you.">
				    	  </textarea>
						</div>
					</div>

					<form th:object="${room}" method="post" modelArrtibute="room">

						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Room
								Price</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{roomPrice}" placeholder="..."> </input>
							</div>
						</div>

						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Utilities
								Price</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{utilitiesPrice}" placeholder="..."> </input>
							</div>
						</div>
						<!-- Room type enum -->
						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Room
								Type</label>
							<div class="col-sm-10">
								<select th:field="*{roomType}">
									<option
										th:each="type: ${T(com.cs544.roommate.domain.RoomType).values()}"
										th:text="${type}" th:value="${type}"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Area
								(sq.ft)</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{area}"
									placeholder="..."> </input>
							</div>
						</div>
						<!-- Option types 0 for not furnished -->
						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Furnished
								Status</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{furnishedStatus}"
									placeholder="..."> </input>
							</div>
						</div>

						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Available
								From</label>
							<div class="col-sm-10">
								<input type="date" class="form-control"
									th:field="*{availableDate}"
									placeholder="Summarize your stay or highlight an interesting detail">
								</input>
							</div>
						</div>

						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">No. of
								room mates</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{noOfRoommates}"
									placeholder="Summarize your stay or highlight an interesting detail">
								</input>
							</div>
						</div>


					</form>


					<form th:object="${address}" method="post" modelArrtibute="address">
						<div>
							Address :
							<div class="form-group row">
								<label for="type" class="col-sm-2 col-form-label">Street</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										th:field="*{street}" placeholder=".."> </input>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">City</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{city}" placeholder=".."> </input>
							</div>
						</div>
						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">State</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{state}" placeholder=".."> </input>
							</div>
						</div>
						<div class="form-group row">
							<label for="type" class="col-sm-2 col-form-label">Zip</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{zip}" placeholder=".."> </input>
							</div>
						</div>
					
						
					
						<input type="submit"
						class="btn btn-primary" value="Create" th:if="*{id} == 0" /> 
						<input
						type="submit" class="btn btn-primary" value="Update"
						th:if="*{id} != 0" />
						
					</form>

					
				</form>
			</div>
		</div>
		<div>
			<div class="panel-footer"></div>
		</div>

	</div>
</body>
</html>