<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>Share My Space</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../../css/fwslider.css" media="all"/>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/css3-mediaqueries.js"></script>
    <script src="../../js/fwslider.js"></script>
    <link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../../css/jquery-ui.css" />

    <link type="text/css" rel="stylesheet" href="../../css/JFGrid.css" />
    <link type="text/css" rel="stylesheet" href="../../css/JFFormStyle-1.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../../js/JFCore.js"></script>
    <script type="text/javascript" src="../../js/JFForms.js"></script>

    <script src="js/jquery-ui.js"></script>
    <script>
        $(function() {
            //alert ("Here I'm");
            $( "#datepicker,#datepicker1" ).datepicker();
        });
    </script>

    <!-- Set here the key for your domain in order to hide the watermark on the web server -->
    <script type="text/javascript">
        (function() {
            JC.init({
                domainKey: ''
            });
        })();
    </script>

    <script>
        $(function() {
            var pull 		= $('#pull');
            menu 		= $('nav ul');
            menuHeight	= menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function(){
                var w = $(window).width();

            });
        });
    </script>
</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="main_bg">
    <div class="wrap">

        <!--start grids_of_3 -->
        <div class="contact_right">
            <div class="contact-form">
                <a href="/property/add">Create new Property</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Property Title</th>
                        <th scope="col">Property Type </th>
                        <th scope="col">Updated Date</th>
                        <th scope="col">Property Type</th>
                        <th scope="col">Available Rooms</th>
                        <th scope="col" style="width: 100px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="property : ${properties}">
                        <th scope="col">
                            <a th:href="@{'/property/' + ${property.id}}" th:text="${property.title}"/>
                        </th>
                        <th scope="col" th:text="${property.propertyType}"></th>
                        <th scope="col" th:text="${property.description}"></th>
                        <td scope="col" th:text="${property.updatedDate}"></td>
                        <th scope="col" th:text="${property.availableRooms}"></th>
                        <th>
                            <form method="post" th:action="@{'/property/delete/'+${property.id}}">
                                <input type="submit" class="btn btn-danger" value="X" style=" background-color: #ac2925!important;padding: 0!important;"/>
                            </form>

                        </th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="clear"></div>

    </div>
</div>


<!--start main -->
<div class="footer_bg">
    <div class="wrap">
        <div class="footer">
            <div class="copy">
                <p class="link">
						<span>© All rights reserved | Template by&nbsp;<a
                                href="http://w3layouts.com/"> W3Layouts</a></span>
                </p>
            </div>
            <div class="f_nav">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="rooms.html">rooms and suits</a></li>
                    <li><a href="reservation.html">reservation</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="soc_icons">
                <ul>
                    <li><a class="icon1" href="#"></a></li>
                    <li><a class="icon2" href="#"></a></li>
                    <li><a class="icon3" href="#"></a></li>
                    <li><a class="icon4" href="#"></a></li>
                    <li><a class="icon5" href="#"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>