<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Navigation -->

        <nav class="navbar navbar-inverse" th:fragment="menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Share my space - WebSite</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a href="#" class="dropdown-toggle"
                                                                                  data-toggle="dropdown" role="button" aria-haspopup="true"
                                                                                  aria-expanded="false">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/user/">User List</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_OWNER')" class="dropdown"><a href="#" class="dropdown-toggle"
                                                                                  data-toggle="dropdown" role="button" aria-haspopup="true"
                                                                                  aria-expanded="false">Owner<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/owner/">Property List</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="'Hello ' + ${@sessionListener.user.name}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/update">My Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
</html>