<!DOCTYPE html>

<html>
<head>
<title>Share My Space</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../../css/fwslider.css" media="all" />

<script src="../../js/jquery.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/css3-mediaqueries.js"></script>
<script src="../../js/fwslider.js"></script>
<link href="../../css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" href="../../css/jquery-ui.css" />

<link type="text/css" rel="stylesheet" href="../../css/JFGrid.css" />
<link type="text/css" rel="stylesheet"
	href="../../css/JFFormStyle-1.css" />
<script type="text/javascript" src="../../js/JFCore.js"></script>
<script type="text/javascript" src="../../js/JFForms.js"></script>

<script src="js/jquery-ui.js"></script>
<script>
	$(function() {
		//alert ("Here I'm");
		$("#datepicker,#datepicker1").datepicker();
	});
</script>

<!-- Set here the key for your domain in order to hide the watermark on the web server -->
<script type="text/javascript">
	(function() {
		JC.init({
			domainKey : ''
		});
	})();
</script>

<script>
	$(function() {
		var pull = $('#pull');
		menu = $('nav ul');
		menuHeight = menu.height();

		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});

		$(window).resize(function() {
			var w = $(window).width();

		});
	});
</script>
</head>
<body>

	<div class="header_bg">
		<div class="wrap">
			<div class="header">
				<div class="logo">
					<a href="index.html"><img src="../../images/logo.png" alt="" /></a>
				</div>
				<div class="h_right">
					<!--start menu -->
					<ul class="menu">
						<li class="active"><a href="index.html">hotel</a></li> |
						<li><a href="rooms.html">rooms and suits</a></li> |
						<li><a href="reservation.html">reservation</a></li> |
						<li><a href="activities.html">activities</a></li> |
						<li><a href="contact.html">contact</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="top-nav">
					<nav class="clearfix">
						<ul>
							<li class="active"><a href="index.html">hotel</a></li>
							<li><a href="rooms.html">rooms and suits</a></li>
							<li><a href="reservation.html">reservation</a></li>
							<li><a href="activities.html">activities</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
						<a href="#" id="pull">Menu</a>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="main_bg">
		<div class="wrap">

			<!--start grids_of_3 -->
			<div class="contact_right">
				<div class="contact-form">
					<form method="post" modelAttribute="property" id="ratingsForm" action="addProperty">
						<div></div>
						<h2>Post Your Room</h2>
						<div>
							<span><label>Property Type</label></span> <span> <input
								name="propertyType" type="text" class="textbox" />
							</span>
						</div>
						<div>
							<span><label>Property Title</label></span> <span> <input
								name="propertyType" type="text" class="textbox" placeholder="Describe Your property Title"/>
							</span>
						</div>
						<div>
							<span><label>Available Rooms</label></span> <span><input
									name="availableRooms" type="text" class="textbox" /></span>
							</div>
						<div>
							<span><label>Description</label></span> 
							<span><textarea
										name="description"> </textarea></span>
						</div>
						<form method="post" modelArrtibute="room">
							<div>
								<span><label>Room Price</label></span> <span><input
									name="roomPrice" type="text" class="textbox" /></span>
							</div>
							<div>
								<span><label>Utilities Price</label></span> <span><input
									name="utilitiesPrice" type="text" class="textbox" /></span>
							</div>
							<div>
								<span><label>Room Type</label></span> <span><input
									name="roomType" type="text" class="textbox" /></span>
							</div>
							<div>
								<span><label>Area(Sq.ft)</label></span> <span><input
									name="area" type="text" class="textbox" /></span>
							</div>
							<div>
								<span><label>Furnished Status</label></span> <span><input
									name="furnishedStatus" type="text" class="textbox" /></span>
							</div>
							<div>
								<span><label>Available From</label>
									<div class="book_date">
										<input name="availableDate" type="text" id="datepicker"
											value="MM/DD/YYYY" onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" />
									</div>
									</span>
							</div>
							<div>
								<span><label>No.of Roommates</label></span> <span><input
									name="noOfRoommates" type="text" class="textbox" /></span> 
							</div>
							<form method="post" modelArrtibute="address">
								<div>Address :
									<span><label>Street</label></span> 
									<span><input
											name="street" type="text" class="textbox" /></span>
								</div>
								<div>
									<span><label>City</label></span> 
									<span><input
											name="city" type="text" class="textbox" /></span>
								</div>
								<div>
									<span><label>State</label></span> 
									<span><input
											name="state" type="text" class="textbox" /></span>
								</div>
								<div>
									<span><label>Zip</label></span> 
									<span><input
											name="zip" type="text" class="textbox" /></span>
								</div>
								<div>
									<span><input type="submit" value="submit us" /></span>
								</div>
							</form>
						</form>
					</form>
				</div>
			</div>
			<div class="clear"></div>

		</div>
	</div>

	<!--start main -->
	<div class="footer_bg">
		<div class="wrap">
			<div class="footer">
				<div class="copy">
					<p class="link">
						<span>© All rights reserved | Template by&nbsp;<a
							href="http://w3layouts.com/"> W3Layouts</a></span>
					</p>
				</div>
				<div class="f_nav">
					<ul>
						<li><a href="index.html">home</a></li>
						<li><a href="rooms.html">rooms and suits</a></li>
						<li><a href="reservation.html">reservation</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="soc_icons">
					<ul>
						<li><a class="icon1" href="#"></a></li>
						<li><a class="icon2" href="#"></a></li>
						<li><a class="icon3" href="#"></a></li>
						<li><a class="icon4" href="#"></a></li>
						<li><a class="icon5" href="#"></a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>