
<!DOCTYPE HTML>
<html>
<head>
<title>The Paradise-Hotel Website Template | Hotel :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link href="../../css/fa-solid.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../css/ratings.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>

<link rel="stylesheet" href="../../css/fwslider.css" media="all"/>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/css3-mediaqueries.js"></script>
<script src="../../js/fwslider.js"></script>
<script src="../../js/ratings.js"></script>

<link rel="stylesheet" href="../../css/jquery-ui.css" />

</head>
<body>
<div class="container mt-5">
  <div class="form-group">
    <select id="product-select" class="form-control custom-select">
        <option value="0" disabled="true" selected="true">Select Product</option>
        <option value="sony">Sony 4K TV</option>
        <option value="samsung">Samsung 4K TV</option>
        <option value="vizio">Vizio 4K TV</option>
        <option value="panasonic">Panasonic 4K TV</option>
        <option value="phillips">Phillips 4K TV</option>
      </select>
  </div>
  <div class="form-group">
    <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="Rate 1 - 5" disabled="true"/>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>4K Television</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sony">
        <td>Sony 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="samsung">
        <td>Samsung 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="vizio">
        <td>Vizio 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="panasonic">
        <td>Panasonic 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="phillips">
        <td>Phillips 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>