<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
    <title>Share My Space - User Management</title>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<div class="container">
       <form th:action="@{/property}" method="get">
           <button type="submit" class="btn btn-primary" aria-label="Left Align">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
           </button>
       </form>
    <br/>
    <br/>


    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Reviews!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Users!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Properties!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    Owner List
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Property name</th>
            <th>Property description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="property : ${properties}">
            <td>

                <a th:href="@{/owner/create(id=${property.id})}" th:text="${property.title}"></a>
            </td>
            <td th:text="${property.description}"></td>
            <td>
                <form method="post" th:action="@{'/owner/delete/'+${property.id}}">
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>-->
